/* CSS styles */
body {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
    line-height: 2.0;
    margin: 10px;
    padding: 10px;
}
.text-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.line {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.number {
    font-size: 10px;
    margin-right: 5px;
    min-width: 20px;
}
.transparent-number {
    opacity: 0.0; /* 투명도를 0으로 설정 */
}
.text {
    white-space: pre-wrap;
    line-height: 1.5;
    cursor: pointer;
}
.reference {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 25px;
}
.selected {
    background-color: lightgrey;
}
.fade-out {
    transition: background-color 1s ease-out;
    background-color: transparent;
}
.button-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
}
.button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
